<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFichesClientService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1/FichesClientsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFichesClientService"
                contract="FichesClientsService.IFichesClientService"
                name="BasicHttpBinding_IFichesClientService" />
        </client>
    </system.serviceModel>
</configuration>